.project {
  border-style: solid;
  border-radius: var(--border-radius-px);
  border-color: rgba(228, 228, 228, 0.6);
  border-width: var(--border-width-px);
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  color: var(--text-color-description);
  background: transparent;
}

.project .top{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
}

.project .title{
  font-size: var(--text-size-description);
  color: white;
  font-weight: 500;
}

.project .img-div{
  width: 100%;
  height: 45%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.project img{
  height: 150%;
}

.project .text{
  padding: 35px 40px;
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
}

.project .technologies{
  padding: 0 40px 40px;
}

.project .description{
  color: var(--text-color-description);
}

.project::before{
  content:'';
  position: absolute;
  top: 100%;
  left: 0;
  transform: translate(-50%, -50%);
  background: radial-gradient(rgb(211, 60, 248), transparent, transparent);
  width: 60vw;
  height: 60vw;
  opacity: 0;
  transition: 0.3s, top 0s, left 0s;
  z-index: -2;
}

.project:hover::before{
  opacity: 1;
}

.project::after{
  content: '';
  position: absolute;
  inset: 5px;
  border-radius: var(--border-radius-px);
  background: rgba(0, 0, 0, 0.75);
  z-index: -1;
}

.project{
    height: 50vh;
  }
  .project .top{
    height: 45vh;
  }



@media (max-width: 1400px) {
  .project{
    height: 60vh;
  }
  .project .top{
    height: 45vh;
  }
}

@media (max-width: 1200px) {
  .project{
    height: 60vh;
  }
  .project .top{
    height: 45vh;
  }
}

@media (max-width: 767px) {
  .project{
    height: 50vh;
  }
  .project .top{
    height: 45vh;
  }
  .project img{
  height: 200%;
}
}