.technologies div{
    border-style: solid;
    border-radius: var(--border-radius-px);
    border-color: rgb(175, 70, 225);
    border-width: var(--border-width-px);
    color: var(--text-color-description); 
    padding: 5px 10px;
}

.technologies p{
    margin: 0;
}