.achievemnt{
    border-style: solid;
    border-radius: var(--border-radius-px);
    border-color: rgba(228, 228, 228, 0.6);
    border-width: var(--border-width-px);
    padding: 35px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}

.title-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-div .name{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title-div .title{
    font-size: var(--text-size-title);
}

.title-div .role, .title-div .date{
    font-size: var(--text-size-description);
}

.name a{
    text-decoration: none;
    color:  rgb(175, 70, 225);
    font-weight: 500;
}

.achievemnt .description-div, .achievemnt .date{
    color: var(--text-color-description);
}

.achievemnt{
  position: relative;
  color: var(--text-color-description);
  overflow: hidden;
  background: transparent;
}

.achievemnt::before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  background: radial-gradient(rgb(211, 60, 248), transparent, transparent);
  width: 60vw;
  height: 60vw;
  opacity: 0;
  transition: 0.3s, top 0s, left 0s;
  z-index: -2;
}

.achievemnt:hover::before{
  opacity: 1;
}

.achievemnt::after{
  content: '';
  position: absolute;
  inset: 5px;
  border-radius: var(--border-radius-px);
  background: rgba(0, 0, 0, 0.75);
  z-index: -1;
}