.grid-child .title{
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-weight: 300;
  font-size: 1.3rem;
  height: 2vh;
  color: white;
}

.grid-child .title img {
  width: auto;
  height: 100%;
}

.grid-child p{
    margin: 0;
}

.grid-child nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.grid-child nav li{
    display: inline;
}

.grid-child {
    display: flex;
    flex-direction: column;
    font-weight: 300;
  font-size: var(--text-size-description);
  border-style: solid;
  border-radius: var(--border-radius-px);
  border-color: rgba(228, 228, 228, 0.6);
  border-width: var(--border-width-px);
  text-align: left;
  padding: 35px 40px;
  gap: 30px;
  height: 100%;
}

.grid-child{
  position: relative;
  color: var(--text-color-description);
  overflow: hidden;
  background: transparent;
}

.grid-child::before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  background: radial-gradient(rgb(211, 60, 248), transparent, transparent);
  width: 60vw;
  height: 60vw;
  opacity: 0;
  transition: 0.3s, top 0s, left 0s;
  z-index: -2;
}

.grid-child:hover::before{
  opacity: 1;
}

.grid-child::after{
  content: '';
  position: absolute;
  inset: 5px;
  border-radius: var(--border-radius-px);
  background: rgba(0, 0, 0, 0.75);
  z-index: -1;
}
