.nav-header-div {
    margin: 2.5vh;
    padding: 2.2vh;
    font-weight: 400;
    font-size: 1.4rem;
    border-style: solid;
    border-width: 0.1px;
    border-color: var(--border-color-rgb);
    border-radius: var(--border-radius-px);
    background-color: rgba(155, 155, 155, 0.1);
}

.nav-header li {
  display: inline;
  margin: 0 5vh;
}