.App {
  text-align: center;
  width: 65vw;
  display: flex;
  flex-direction: column;
  margin: 2.5vh auto;
  min-height: 100vh;
  gap: 4vh;
}

main{
  flex: 1;
}

.App-header {
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 6vh;
}

.darkveil-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}

.App-header div{
  z-index: 1;
}

.App-header .text{
  font-weight: 400;
  font-size: 3.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 25vh;
}

.App-header .text p{
  margin: 0;
}

.App-header .text span{
  color: rgb(175, 70, 225);
  font-weight: 600;
}

.App-main-div {
  height: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.div-title p {
  font-weight: 400;
  font-size: 2.0rem;
  text-align: left;
}

.App-main-div .div-boxes {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  grid-auto-flow: column;
}

#technologies{
  grid-row: span 2;
}

hr {
  color: rgba(228, 228, 228, 0.6);
  border-width: var(--border-width-px);
}

footer{
  display: flex;
  flex-direction: column;
  text-align: left;
  gap:15px;
}

footer .nickName{
  color: var(--text-color-description);
}