@import "./fonts/inter.css";

:root {
  --border-radius-px: 50px;
  --border-color-rgb: rgba(170, 170, 170, 0.4);
  --text-color-description: rgb(163, 163, 163);
  --border-width-px: 0.1px;
  --text-size-description: 1.1rem;
  --text-size-title: 1.5rem;
}

body {
  background-color:black;
  color: white;
  margin: 0;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


